<form class="textDM form d-flex flex-column m-3 p-3" method="post" action="#anchor">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<div class="text-center">
		<button class="btn btn-success">{{ button_label|default('Ajouter un vin') }}</button>
		<a href="{{ path('app_wine_index') }}" class="btn btn-warning">back to list</a>
	</div>
	{{ form_end(form) }}
</form>
