{% extends 'base.html.twig' %}

{% block title %}Wine index{% endblock %}

{% block body %}
    <h1>Wine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Color</th>
                <th>Year</th>
                <th>Price</th>
                <th>Picture</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wine in wines %}
            <tr>
                <td>{{ wine.id }}</td>
                <td>{{ wine.color }}</td>
                <td>{{ wine.year }}</td>
                <td>{{ wine.price }}</td>
                <td>{{ wine.picture }}</td>
                <td>{{ wine.description }}</td>
                <td>
                    <a href="{{ path('app_wine_show', {'id': wine.id}) }}">show</a>
                    <a href="{{ path('app_wine_edit', {'id': wine.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_wine_new') }}">Create new</a>
{% endblock %}
