<div class="container rounded bg-primary col-12 mx-4 my-4 p-0 shadow rounded-4" id="partner_{{loop.index}}">
	<div class="card-body d-flex {{ key is even ? 'flex-row' : 'flex-row-reverse' }} mx-auto">
		<div class="col-4 my-auto">
			{% if user.profilePicture %}
				<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded-4" src="{{ vich_uploader_asset(user.profilePicture) }}" alt="{{ user.domain }}">
			{% else %}
				<img class="card-img-top img-thumbnail img-fluid mx-auto d-block rounded-4" src="{{ asset('/build/images/partner.jpeg') }}" alt="Photo de profil">
			{% endif %}
		</div>
		<ul class="list-group list-group-flush col-8 text-center px-0 d-flex justify-content-evenly">
			<li class="list-group-item bg-primary d-flex flex-column justify-content-evenly textDM">
				<p class="fw-bold">- Partenaires -</p><br>
				<p>{{ user.firstname }}
					{{ user.lastname }}</p>
			</li>
			<li class="list-group-item bg-primary d-flex flex-column justify-content-evenly textDM">
				<p class="fw-bold">- Domaine -</p><br>
				<p>{{ user.domain }}</p>
			</li>
			<li class="list-group-item bg-primary d-flex flex-column justify-content-evenly textDM">
				<p class="fw-bold">- E-mail -</p>
				<p>{{ user.email }}</p>
			</li>
		</ul>
	</div>
</div>
